name: CI
on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Get deno version
        id: deno-version
        run: |
          echo "version=$(cat .deno-version)" >> ${GITHUB_OUTPUT}
      - name: Set up Deno
        uses: denoland/setup-deno@e95548e56dfa95d4e1a28d6f422fafe75c4c26fb # v2.0.3
        with:
          deno-version: ${{ steps.deno-version.outputs.version }}
          cache: true
          cache-hash: ${{ hashFiles('.deno-version', 'deno.lock') }}
      - name: Run linters
        run:
          deno task check
      - name: deno publish --dry-run
        run:
          deno publish --dry-run
      - name: Run tests
        run:
          deno task test:ci
